<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Tests">
    <test name="UI">
        <classes>
            <class name="UI.TestsPages.RegisterPage.Register">
                <methods>
                    <include name="testGenderMR" />
                    <include name="testRedField" />
                    <include name="testGreenFields" />
                    <exclude name="testFullValidRegistration" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
